{{ partial "doctype" . }}
{{ partial "head" . }}
<body>


    {{ partial "header" . }}

    <div class="main wrapper clearfix">

        <div class="main-container">

            <article>
                <header>
                    <h1 >{{ .Title }}</h1>
                </header>
                <section>
                    <p>Melodi: {{ .Params.melody }}  </p>
                    <p> {{ .Content }} </p> 
                </section>
            </article>

            {{ partial "navigation" . }}
            
        </div> <!-- #main -->
    </div> <!-- #main-container -->

    {{ partial "footer" . }}

</body>
</html>
