.vov-logo img {
    min-height: 80px;
    max-height: 140px;
    max-width: 140px;
    min-width: 80px;
}
.ui p,
.ui a {
    font-size: 1.333em;
}

.hero   {
    width: 100%;
    min-height: 600px;
    overflow: hidden;
    background-image: url("/img/hero.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.hero h1.ui.header {
    margin-top: 2em; 
    font-size: 4em;
}

.hero h2.ui.header {
    font-size: 2em;
    font-weight: normal;
}



textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.header-container header {
    background-image: url("/img/v.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.song-metadata{
    margin-top: 20px;
    border-top: solid 1px;
}

.all-tags li {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    list-style-type: none;
}

.comment {
    font-style: italic;
    font-size: 0.4em;
}

.ui.footer {
    padding: 5em;
}

.ui.footer p,
.footer p a{
    font-size: 0.5em;
    color: #ccc;
}


@media all and (max-width: 1500px) {
    .hero {
        height: 300px;
    }
}

@media all and (max-width: 420px) {
    .hero {
        height: 150px;
    }

    .header-container {
        font-size: 0.5em;
    }
}


@media screen and (max-height 600px) {
    .hero {
        height: 150px;
    }
}
