{{ partial "doctype" . }}
{{ partial "head" . }}

<body>
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="row">
                <div class="item vov-logo">
                    <a class="item toc " href="/"><img src="/img/v.svg" alt="Väg och vatten" /></a>
                </div>
            </div>
            <div class="row">
                <div class="computer tablet only four wide column">
                    {{ partial "navigation" . }}
                </div>
                <div class="twelve wide column song-list">
                    <h1 class="ui header">Sånger</h1>
                    <div class="ui list">
                        {{ range .Data.Pages.ByTitle }}
                        <a class="item" href="{{ .RelPermalink }}">{{ .Title }}</a> {{ end }}
                        </ul>
                    </div>
                </div>
                <div class="mobile only four wide column">
                    {{ partial "navigation" . }}
                </div>
            </div>
        </div>
    </div>
    {{ partial "footer" . }}
</body>

</html>
