{{ partial "doctype" . }} {{ partial "head" . }}

<body>

    <div class="ui container">
        <div class="ui stackable grid">
            <div class="row">
                <div class="item vov-logo">
                    <a class="item toc " href="/"><img src="/img/v.svg" alt="Väg och vatten" /></a>
                </div>
            </div>
            <div class="row">
                <div class="computer tablet only four wide column">
                    {{ partial "navigation" . }}
                </div>
                <div class="twelve wide column">
                    <h1 class="ui header ">{{ .Title }}</h1>
                    {{ if isset .Params "melody" }}
                    <div><div class="ui horizontal label pink">Melodi:</div> {{ .Params.melody }} </div>
                    {{ end }}
                    <p class="ui text comment ">{{ .Params.comment }}</p>
                    <p class="ui text "> {{ .Content }} </p>
                    {{ if isset .Params "authors" }}
                    <div class="metadata">
                        <div class="ui horizontal label green">Text:</div>
                        <div class="ui horizontal list">
                            {{ range .Params.authors }}
                            <p class="item">{{ . }}</p>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                    {{ if isset .Params "year" }}
                    <div class="metadata">
                        <div class="ui horizontal label violet">År:</div>
                        {{ .Params.year }}
                    </div>
                    {{ end }}
                    {{ if isset .Params "spex" }}
                    <div class="metadata">
                        <div class="ui horizontal label blue">Spex:</div>
                        {{ .Params.spex }}
                    </div>
                    {{ end }}
                    <div class="metadata">
                        <div class="ui horizontal list">
                            <div class="ui horizontal label red">Taggar:</div>
                            {{ range .Params.tags }}
                            <a class="item" href="{{ "/tags/" | relLangURL }}{{ . | urlize }} ">{{ . }}</a>
                            {{ end }}
                        </div>
                    </div>
                </div>
                <div class="mobile only four wide column">
                    {{ partial "navigation" . }}
                </div>
            </div>
        </div>
    </div>
    {{ partial "footer" . }}

</body>

</html>
