{{ partial "doctype" . }}
{{ partial "head" . }}
<body>


    {{ partial "header" . }}

    <div class="main wrapper clearfix">

        <div class="main-container">

            <article>
                <header>
                    <h1 >{{ .Title }}</h1>
                </header>
                <section>
                    {{ if isset .Params "melody" }}
                    <p><strong>Melodi:</strong> {{ .Params.melody }}  </p>
                    {{ end }}

                    <p> {{ .Content }} </p> 

                    <div class="song-metadata">
                        {{ if isset .Params "authors" }}
                        <p><strong>Text:</strong> {{ delimit .Params.authors ", " }} </p>
                        {{ end }}

                        {{ if isset .Params "year" }}
                        <p><strong>År:</strong> {{ .Params.year }} </p>
                        {{ end }}
                        <p>
                            <strong>Taggar:</strong>
                            {{ range .Params.tags }}
                            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                            {{ end }}
                        </p>
                    </div>

                </section>
            </article>

            {{ partial "navigation" . }}
            
        </div> <!-- #main -->
    </div> <!-- #main-container -->

    {{ partial "footer" . }}

</body>
</html>
