{{ partial "doctype" . }}
{{ partial "head" . }}
<body>


    {{ partial "header" . }}

    <div class="main wrapper clearfix">

        <div class="main-container">

            <article>
                <header>
                    <h1 >{{ .Title }}</h1>
                </header>
                <section>
                    {{ if isset .Params "melody" }}
                    <p>Melodi: {{ .Params.melody }}  </p>
                    {{ end }}

                    <p> {{ .Content }} </p> 

                    {{ if isset .Params "authors" }}
                    <p>Text: {{ delimit .Params.authors ", " }} </p>
                    {{ end }}

                    <h3>Taggar</h3>
                    <ul id="song-tags">
                        {{ range .Params.tags }}
                        <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                        {{ end }}
                    </ul>

                </section>
            </article>

            {{ partial "navigation" . }}
            
        </div> <!-- #main -->
    </div> <!-- #main-container -->

    {{ partial "footer" . }}

</body>
</html>
