{{ partial "doctype" . }}
{{ partial "head" . }}
<body>

    {{ partial "header" . }}


    <div class="hero">
    </div>
    <div class="main-container">
        <div class="main wrapper clearfix">
            <article>
                <p>Ett litet försök att digitalisera sångerna som sjöngs på
                    Konglig Sektion för Väg och Vattenbyggnad. </p>
                <p>Om någon sång saknas, skriv ned den i ett email till m snabela hnve punkt org, så lägger jag till den.</p>

                <div>

                    {{ partial "tags" . }}

                </div>
            </article>

        </div> <!-- #main -->
    </div> <!-- #main-container -->

    {{ partial "footer" . }} 
</body>
</html>
